
        div.grafico>div {
            float:left;
            background:#2b9dd1;
            text-align:center;
            width:calc(100% - 100px);
            height:20px;
            margin-bottom:0px;
            border-radius:0px 10px 10px 0px;
             padding-top:5px;
            padding-bottom:5px;
            color:#fff;
        }
        div.grafico>p {
            background:#444;
            border-radius:10px 0px 0px 10px;
            color:#fff;
            text-align:center;
            margin-top:0px;
            padding-top:5px;
            padding-bottom:5px;
            width:100px;
            float:left;
            clear:both;
        }
